{
    email webmaster@example.com
}

:{$PORT:80} {
    root * /app/public

    encode zstd br gzip

    php_server

    file_server

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }

    log {
        output stdout
        format json
    }
}
